<!DOCTYPE html>
<html lang="en">
<head>
  <title>Henry Tran's Website</title>
  <link rel="icon" href="https://figgyfigures.github.io/images/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://figgyfigures.github.io/">Henry Tran's Website</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://figgyfigures.github.io/">Home</a></li>
          <li><a href="https://figgyfigures.github.io/projects.html">Projects</a></li>
          <li><a href="https://figgyfigures.github.io/nextcloud">NextCloud</a></li>
          <li><a href="https://plex.tv/web">Plex</a></li>
          <li class="active"><a href="https://figgyfigures.github.io/about.html">About</a></li>
        </ul>
      </div>
    </nav>
  <center>
    <h1>navbar Template</h1>
  </center>
  <xmp>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <title>Henry Tran's Website</title>
      <link rel="icon" href="https://figgyfigures.github.io/images/favicon.ico">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="https://figgyfigures.github.io/">Henry Tran's Website</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://figgyfigures.github.io/">Home</a></li>
              <li><a href="https://figgyfigures.github.io/projects.html">Projects</a></li>
              <li class="active"><a href="https://figgyfigures.github.io/about.html">About</a></li>
            </ul>
          </div>
        </nav>
      <center>
        <h1>navbar Template</h1>
      </center>
      </body>
    </html>
  </xmp>
  </body>
</html>
